.elementor-492 .elementor-element.elementor-element-77aa909{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:15px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;}.elementor-492 .elementor-element.elementor-element-77aa909:not(.elementor-motion-effects-element-type-background), .elementor-492 .elementor-element.elementor-element-77aa909 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-492 .elementor-element.elementor-element-a60d562 > .elementor-widget-container{padding:10px 10px 10px 10px;}.elementor-492 .elementor-element.elementor-element-a60d562{text-align:center;}.elementor-492 .elementor-element.elementor-element-a60d562 .elementor-heading-title{font-family:"Sora", Sans-serif;font-size:54px;font-weight:600;color:#FFFFFF;}.elementor-492 .elementor-element.elementor-element-bc295fd{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:10px;--padding-bottom:25px;--padding-left:10px;--padding-right:10px;}.elementor-492 .elementor-element.elementor-element-bc295fd:not(.elementor-motion-effects-element-type-background), .elementor-492 .elementor-element.elementor-element-bc295fd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-492 .elementor-element.elementor-element-c586c53{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-492 .elementor-element.elementor-element-197d88c{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-492 .elementor-element.elementor-element-197d88c.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-492 .elementor-element.elementor-element-adf0a6f{text-align:center;}.elementor-492 .elementor-element.elementor-element-adf0a6f .elementor-heading-title{font-family:"Sora", Sans-serif;font-size:20px;font-weight:200;-webkit-text-stroke-color:#000;stroke:#000;color:#FFFFFF;}.elementor-widget-form .elementor-field-group > label, .elementor-widget-form .elementor-field-subgroup label{color:var( --e-global-color-text );}.elementor-widget-form .elementor-field-group > label{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .elementor-field-type-html{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .elementor-field-group .elementor-field{color:var( --e-global-color-text );}.elementor-widget-form .elementor-field-group .elementor-field, .elementor-widget-form .elementor-field-subgroup label{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .elementor-button{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-form .e-form__buttons__wrapper__button-next{background-color:var( --e-global-color-accent );}.elementor-widget-form .elementor-button[type="submit"]{background-color:var( --e-global-color-accent );}.elementor-widget-form .e-form__buttons__wrapper__button-previous{background-color:var( --e-global-color-accent );}.elementor-widget-form .elementor-message{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .e-form__indicators__indicator, .elementor-widget-form .e-form__indicators__indicator__label{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-form{--e-form-steps-indicator-inactive-primary-color:var( --e-global-color-text );--e-form-steps-indicator-active-primary-color:var( --e-global-color-accent );--e-form-steps-indicator-completed-primary-color:var( --e-global-color-accent );--e-form-steps-indicator-progress-color:var( --e-global-color-accent );--e-form-steps-indicator-progress-background-color:var( --e-global-color-text );--e-form-steps-indicator-progress-meter-color:var( --e-global-color-text );}.elementor-widget-form .e-form__indicators__indicator__progress__meter{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:10px;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-10px;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-field-group.recaptcha_v3-bottomleft, .elementor-492 .elementor-element.elementor-element-e607e4e .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-492 .elementor-element.elementor-element-e607e4e .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-492 .elementor-element.elementor-element-e607e4e .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-492 .elementor-element.elementor-element-e607e4e .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-field-group > label, .elementor-492 .elementor-element.elementor-element-e607e4e .elementor-field-subgroup label{color:#343434;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-field-group > label{font-family:"Sora", Sans-serif;font-weight:400;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-field-type-html{padding-bottom:0px;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-field-group .elementor-field{color:#242424;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-field-group .elementor-field, .elementor-492 .elementor-element.elementor-element-e607e4e .elementor-field-subgroup label{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-button{font-family:"Sora", Sans-serif;font-size:18px;font-weight:500;}.elementor-492 .elementor-element.elementor-element-e607e4e .e-form__buttons__wrapper__button-next{background-color:#18C830;color:#ffffff;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-button[type="submit"]{background-color:#18C830;color:#ffffff;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-492 .elementor-element.elementor-element-e607e4e .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-492 .elementor-element.elementor-element-e607e4e .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-492 .elementor-element.elementor-element-e607e4e .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-492 .elementor-element.elementor-element-e607e4e .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-492 .elementor-element.elementor-element-e607e4e{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-492 .elementor-element.elementor-element-58eb8b0{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}#elementor-popup-modal-492{background-color:rgba(0,0,0,.8);justify-content:center;align-items:center;pointer-events:all;}#elementor-popup-modal-492 .dialog-message{width:640px;height:auto;}#elementor-popup-modal-492 .dialog-close-button{display:flex;}#elementor-popup-modal-492 .dialog-widget-content{box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}@media(min-width:768px){.elementor-492 .elementor-element.elementor-element-c586c53{--width:25%;}.elementor-492 .elementor-element.elementor-element-197d88c{--width:64.032%;}.elementor-492 .elementor-element.elementor-element-58eb8b0{--width:25%;}}@media(max-width:767px){.elementor-492 .elementor-element.elementor-element-77aa909{--padding-top:15px;--padding-bottom:15px;--padding-left:15px;--padding-right:15px;}.elementor-492 .elementor-element.elementor-element-a60d562 > .elementor-widget-container{padding:10px 10px 5px 10px;}.elementor-492 .elementor-element.elementor-element-a60d562 .elementor-heading-title{font-size:35px;}.elementor-492 .elementor-element.elementor-element-bc295fd{--padding-top:15px;--padding-bottom:15px;--padding-left:15px;--padding-right:15px;}.elementor-492 .elementor-element.elementor-element-197d88c{--padding-top:10px;--padding-bottom:25px;--padding-left:10px;--padding-right:10px;}.elementor-492 .elementor-element.elementor-element-adf0a6f .elementor-heading-title{font-size:18px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../fonts/Sora-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../fonts/Sora-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../fonts/Sora-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/Sora-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../fonts/Sora-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../fonts/Sora-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../fonts/Sora-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../fonts/Sora-ExtraBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../fonts/Poppins-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */